
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/receipt.css')
  title Battery Receipt
  //- include batterylist.pug
#print-area.invoice-wrapper
  .invoice
    .invoice-container
      .invoice-head
        .invoice-head-top
          .invoice-head-top-left.text-start
            img(style='height: 50px;' src='/images/DockVille Day and Night Parking -1.png' alt='')
          .invoice-head-top-right.text-end
            h3 Invoice
        .hr
        .invoice-head-middle
          .invoice-head-middle-left.text-start
         
              p
                span.text-bold Date
                |  : #{invoice.date}
          .invoice-head-middle-right.text-end
            p
              span.text-bold Invoice No:
              |  #{invoice.receiptnumber}
        .hr
        .invoice-head-bottom
          .invoice-head-bottom-left
            ul
              li.text-bold Invoiced To:
              li  #{invoice.firstname + invoice.lastname}
              li #{invoice.phonenumber}
              li #{invoice.nin}
              li Uganda
          .invoi.ce-head-bottom-right
            ul.text-end
              li.text-bold Pay To:
              li DockVille Corp
              li Car Parking Enterprise
              li Bwebajja, Akright
              li dockville@motors.com
      .overflow-view
        .invoice-body
          table
            thead
              tr
                td.text-bold Services
                td.text-bold Description
                td.text-bold Hire Duration
                td.text-bold Size
                td.text-bold Amount
            tbody
                tr
                  td Battery Hire
                  td Hired a battery for a specified time period
                  td #{invoice.hire}
                  td #{invoice.batterysize}
                  td.text-end #{invoice.total}
          .invoice-body-bottom
            .invoice-body-info-item.border-bottom
              .info-item-td.text-end.text-bold
                | SubTotal:
              .info-item-td.text-end #{invoice.total}
            .invoice-body-info-item.border-bottom
              .info-item-td.text-end.text-bold
                | Tax:
              .info-item-td.text-end 0
            .invoice-body-info-item
              .info-item-td.text-end.text-bold
                | SubTotal:
              .info-item-td.text-end #{invoice.total}
      .invoice-foot.text-center
        p
          span.text-bold.text-center NOTE:&nbsp;
          | This is a computer generated receipt and doesn&apos;t require physical signature.
        .invoice-btns
          button.invoice-btn(type='button' onclick='printInvoice()')
            span
              i.fa-solid.fa-print
            span Print
          button.invoice-btn(type='button')
            span
              i.fa-solid.fa-download
            span Download
script(src='/JS/batteryreceipt.js')