doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Tyre Services Daily Revenue
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous')
    h2.p-3.mb-3.text-white(style='background-color:#395464') Daily Revenue From Tyre Services
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/parkerlist.css')
    script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  body
    .container
      input#myInput(type='text' onkeyup='myFunction()' placeholder='Search for names..' class='form-control mb-3')
      table#myTable.table.table-bordered.table-hover
        thead.table-secondary
          tr.header
           
            th(scope='col') First Name
            th(scope='col') Last Name
            th(scope='col') Email
            th(scope='col') Date
            th(scope='col') Phone Number
            th(scope='col') Receipt Number
            th(scope='col') Pressure
            th(scope='col') Puncture
            th(scope='col') Valves
            th(scope='col') Total

        tbody
          if services.length
            each service in services
              tr
               
                th #{service.firstname}
                td  #{service.lastname}
                td  #{service.email}
                td  #{service.date}
                td  #{service.phonenumber}  
                td  #{service.receiptnumber} 
                td  #{service.tyreservice.includes('pressure') ? '500' : 'Not Picked'}
                td  #{service.tyreservice.includes('puncture') ? '5000' : 'Not Picked'}
                td  #{service.tyreservice.includes('valves') ? '5000' : 'Not Picked'}
                td  #{service.total} 
          

          else 
            p There are no services used in the database as yet today 
      table#myTable.table.table-bordered.table-hover
        thead.table-secondary
          tr.header
            th(scope='col') Total Daily Revenue

        tbody
          tr
            td #{dRevenue}
    .invoice-btns
            button.invoice-btn(type='button' onclick='printInvoice()')
                span
                    i.fa-solid.fa-print
                span Print
            button.invoice-btn(type='button')
                span
                    i.fa-solid.fa-download
                span Download

script(src='../js/delete.js')
script(src='/js/search.js')
script(src="/js/batteryreceipt.js") 