doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@100;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/libs/css/bootstrap.css')
  link(rel='stylesheet' href='/css/dashboard.css')
.divides
  .dashboard
    .menu-btn
      i.fas.fa-bars
    .side-bar
      header
        .close-btn
          i.fas.fa-times
        //- img(src='/images/Cv picture.jpeg' alt='')
        h1 Dockville Parking
      .menu
        .item
          a
            i.fas.fa-desktop
            | Dashboard
        .item
          a.sub-btn
            i.fas.fa-table
            | Battery Section
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='batteryservices') Battery Hire
            a.sub-item(href='batterysignout') Battery Signout
            // <a href="" class="sub-item"></a>
        .item
          a.sub-btn
            i.fas.fa-th
            | Parking
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='register') Park Register
            a.sub-item(href='signout') Park Signout
            a.sub-item(href='')
        .item
          a.sub-btn
            i.fas.fa-cog
            | Tyre Section
            // Dropdown
            // Dropdwon arrow
            i.fas.fa-angle-right.dropdown
          .sub-menu
            a.sub-item(href='tyreclinic') Tyre Clinic
            a.sub-item(href='tyreservices') Tyre Services
            a.sub-item(href='')
        .item
          a(href='')
            i.fas.fa-info-circle
            | About
        .item 
          a.sub-btn
            i.fa-regular.fa-user(style='border: 1px solid; padding:5px; border-radius:50%;')
            h4.top(style='font-weight:bold;') Manager #{inUser}
        .item
          a#police.bg-primary(href='/api/logout', style='font-weight:bold; color:white; font-size:18px; border: 1px groove; margin-left:20px; margin-right:130px; padding-left:10px; padding-top:0px; padding-bottom:0px; border-radius:5px;' onclick='return Confirm(event)') Logout


  .divider2
      #welcome.container-fluid
        .row
          #left.col-sm-6
            h4 Welcome Back Manager!
          //- #right.col-sm-6
          //-   i#user.fa-solid.fa-user
          //-   h4.top(style='font-weight:bold;') Manager #{inUser}
      #report.container-fluid
        h4.report-h4 Parker Weekly Report
        p.report-p Track the system statitics
        //- button.report-button
        //- a.report-button(href='/api/weeklyrevenue') View
        a#stat.btn.btn-primary(style='margin-left: 100px; margin-top: 10px; background-color:; color:#fff; font-size:16px; font-weight:bold;'  href="/api/weeklyrevenue") View Statistics
      #mid-low.container-fluid
        .row
          .col-md-4.col-sm-12.card1
            i#car-icon.fa-solid.fa-car
            h3.card-h3 Revenue from cars parked today
            p  #{dRevenue}
          .col-md-4.col-sm-12.card2
            i#car-icon.fa-solid.fa-car
            h3.card-h3 Total Cars Parked today
            p #{numberOfDocuments}
          .col-md-4.col-sm-12.card3
            ii#car-icon.fa-solid.fa-car
            h3.card-h3 Revenue from Day option Parkers 
            p #{totalForDay}
      //- .mid-part
      #footer.container-fluid
        .row
          #foot-left.col-md-4.col-sm-12
            h3 Dockville Parking
            p#dockpara
              | Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs
            p.social Facebook   Twitter   Instagram
          #foot-mid.col-md-4.col-sm-12
            h4.shrink Menu
            a.links(href='') About
            br
            a.links(href='') Park Galleries
            br
            p.copyright All rights reserved to IosApps
          #foot-right.col-md-4.col-sm-12
            h4.shrink Company
            a.links(href='') Terms and Conditions
            br
            a.links(href='') Privacy and Policies
            br
            a.links(href='') System Support
            p#website
              a.links(href='')
                | info@iosapps.com

script(src='../libs/js/bootstrap.bundle.min.js')
script(src='../js/logout.js')
script(src='../js/error.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js')
script(src='/js/scripts.js')



//- script(src='/JS/graph.js')
