doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Parkers
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous')
    link(rel='stylesheet' href='../css/parkerlist.css')
    script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
    
    h2.p-3.mb-3.text-white(style='background-color:#395464') Parker List
    
  body
    .container
      input#myInput(type='text' onkeyup='myFunction()' placeholder='Search for names..' class='form-control mb-3')
      h5.text-white(style='background-color:#395464; width:280px;') Total Parkers/Cars Captured: #{total}
      h5#right.text-white(style='background-color:#395464; width:300px;') Total Revenue Collected: #{revenue}

      table#myTable.table.table-bordered.table-hover
        thead.table-secondary
          tr.header
            th(scope='col') First Name
            th(scope='col') Last Name
            th(scope='col') Receipt Number
            th(scope='col') Number Plate
            th(scope='col') Color
            th(scope='col') Email
            th(scope='col') Automobile model
            th(scope='col') Time of Arrival
            th(scope='col') Automobile type
            th(scope='col') Phone Number
            th(scope='col') Parking Duration
            th(scope='col') Date
            th(scope='col') Total
            th(scope='col') Delete
            th(scope='col') Edit
            th(scope='col') Receipt
        tbody
          if parkers.length
            each parker in parkers
              tr
                td #{parker.firstname}
                td #{parker.lastname}
                td #{parker.receiptnumber}
                td #{parker.numberplate}
                td #{parker.color}
                td #{parker.email}
                td #{parker.model}
                td #{parker.time}
                td #{parker.type}
                td #{parker.phonenumber}
                td #{parker.park}
                 td #{parker.date}
                td #{parker.total}
                td
                  form(action="/api/parker/delete" method="POST")
                    input(type="hidden" name="id" value=parker._id)
                    button.btn.btn-danger(type='submit' onclick='return Confirm(event)') Delete
                td
                  a.btn.btn-warning(href="/api/parker/edit/"+parker._id) Edit
                td
                   a.btn.btn-primary(href="/api/parker/receipt/"+parker._id) Receipt 
          else
            tr
              td(colspan='16' class='text-center') There are no parkers in the database
      .invoice-btns
        button.invoice-btn(type='button' onclick='printInvoice()')
          span
            i.fa-solid.fa-print
          span Print
        button.invoice-btn(type='button')
          span
            i.fa-solid.fa-download
          span Download
    script(src='/js/delete.js')
    script(src='/js/search.js')
    script(src="/js/batteryreceipt.js") 
