doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Fraunces:wght@100;400;700&family=Montserrat:wght@100;500;700&display=swap' rel='stylesheet')
  script(src='https://kit.fontawesome.com/aff02a4ba3.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/libs/css/bootstrap.css')
  link(rel='stylesheet' href='/css/tyre-clinic.css')
  title Tyre Clinic
.divides
  .dashboard
    ul.list
      li#head Dockville Parking
      hr
      li#dash
        span#position Dashboard
      // <li class="dark">Parking</li>
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Parking
        ul.dropdown-menu
          li
            a.dropdown-item(href='parking') Pick vehicle type
          li
            a.dropdown-item(href='#') Another action
      li#dashboard.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Tyre Clinic
        ul.dropdown-menu
          li
            a.dropdown-item(href='tyreclinic') Tyre Price
          li
            a.dropdown-item(href='tyreservices') Tyre Services
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          | Battery Section
        ul.dropdown-menu
          li
            a.dropdown-item(href='battery-section') Hire Battery
          li
            a.dropdown-item(href='batterysignout ') SignOut Battery
  .divider2
    .clinic-top
      h2.top Tyre Clinic Unit
      hr
      h4.action Determine Tyre Price
    #register.container-fluid
      h4 Enter details to determine Car Tyre Price 
      form#tyreclinicform(name='tyreclinicform' method='POST' action='/api/tyre/edit?id='+tyre._id onsubmit='return Validate(event);')
        .form-group
          label(for='firstname') First Name
          input#firstname.form-control(type='text' placeholder="Enter driver's first name" name='firstname' value=tyre.firstname)
          // first name error
          span#firstnameerror
        br
        .form-group
          label(for='lastname') Last Name
          input#lastname.form-control(type='text' placeholder="Enter driver's last name" name='lastname' value=tyre.lastname)
          // last name error
          span#lastnameerror
        br
        .form-group
          label(for='email') Email
          input#email.form-control(type='email' name='email' value=tyre.email)
          span#emailerror
        br
        .form-group
          label(for='Date') Date
          input#date.form-control(type='date' name='date' value=tyre.date)
        span#dateerror
        br
        .form-group
          label(for='phonenumber') Phone Number
          input#phonenumber.form-control(type='tel' name='phonenumber' value=tyre.phonenumber)
          span#phonenumbererror
        br
        .form-group
          label(for='receiptnumber') ReceiptNumber
          input#receiptnumber.form-control(type='text' name='receiptnumber' value=tyre.receiptnumber)
          span#receiptnumbererror
        br
        .form-group
          label(for='name')  TyreSize
          input#tyresize.form-control(type='text' name='tyresize' placeholder='Enter car tyre size' value=tyre.tyresize)
        span#tyresizeerror
        br
        select#type.form-select(aria-label='Default select example' name='type')
          option(value='') Select Automobile make
          option(value='truck' selected=(tyre.type === 'truck')) Truck
          option(value='taxi' selected=(tyre.type === 'taxi')) Taxi
          option(value='personalcar' selected=(tyre.type === 'personalcar')) Personal Car
          option(value='coaster' selected=(tyre.type === 'coaster')) Coaster
          option(value='bodaboda' selected=(tyre.type === 'bodaboda')) BodaBoda
        span#typeerror
        br
        select#carmodel.form-select(aria-label='Default select example' name='carmodel')
            option(value='') Select Automobile model
            option(value='hatchback' selected=(tyre.carmodel === 'hatchback')) Hatch Back
            option(value='sedan' selected=(tyre.carmodel === 'sedan')) Sedan
            option(value='suv' selected=(tyre.carmodel === 'suv')) SUV
            option(value='coupe' selected=(tyre.carmodel === 'coupe')) Coupe
            option(value='convertible' selected=(tyre.carmodel === 'convertible')) Convertible
            option(value='sportscar' selected=(tyre.carmodel === 'sportscar')) Sports Car
            option(value='minivan' selected=(tyre.carmodel === 'minivan')) Mini Van
            option(value='stationwagon' selected=(tyre.carmodel === 'stationwagon')) Station Wagon
            option(value='crossover' selected=(tyre.carmodel === 'crossover')) Cross Over
            option(value='pickuptruck' selected=(tyre.carmodel === 'pickuptruck')) Pickup Truck
        span#carmodelerror
        .form-group
          label(for='total') 
          input#totalinput.form-control(type='number' name='total' style="display: none;" value=tyre.total)
        // <p id="total" name="total"></p>
        br
        button#submit.btn.btn-primary.form-width(type='submit' name='submit') Update
    #footer.container-fluid
      .row
        #foot-left.col-md-4.col-sm-12
          h3 Dockville Parking
          p
            | Built to offer you that one time parking, clinic and accesories solution. Bluit around Design thinking to offer the greatest features and maintain its standardc inorder to resonate the user needs
          p.social Facebook   Twitter   Instagram
        #foot-mid.col-md-4.col-sm-12
          h4 Menu
          a(href='') About
          br
          a(href='')  Recent Products 
          br
          a(href='') Featured Products
          br
          a(href='') Testimonials
          br
          a(href='') Product Galleries
          br
          p.copyright All rights reserved to IosApps
        #foot-right.col-md-4.col-sm-12
          h4 Company
          a(href='') FAQ
          br
          a(href='') Terms and Conditions
          br
          a(href='') Privacy and Policies
          br
          a(href='') Support
          br
          p#website
            a(href='')
              | info@iosapps.com
script(src='/libs/js/bootstrap.bundle.min.js')
script(src='/JS/tyreclinic.js')
